<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700&display=swap" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    {{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/05f187210c.js"></script>
    <script src="/assets/js/article.js"></script>
    <title>Mongo Scraper</title>
</head>

<body>
    {{{body}}}
</body>

</html>