<div class="card-container">
    {{#each articles}}
    <div class="card">
        {{!-- <div class="card-img"><img src="" alt=""></div> --}}
        <div class="card-info">
            <h5 class="card-category">category</h5>
            <h1 class="card-title">{{title}}</h1>
            <p class="card-desc">{{description}}</p>
        </div>
        <a class="card-select" href="https://www.apnews.com{{link}}">Select</a>
        <div class="card-icon">
            <i class="far fa-heart"></i>
            <i class="far fa-bookmark"></i>
        </div>
    </div>
    {{/each}}
</div>