.card-container {
    display: flex;
}

.card {
    margin: 25px 25px;
    box-shadow: 1px 1px 6px lightgrey;
}

.card-img {
    width: 100%;
    height: 150px;
    background: white;
}

.card-info {
    width: 200px;
    padding: 10%;
}

.card-desc {
    width: 0px;
}

.card-category {
    color: lightslategray;
}

.card-select {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10%;
}